@model IEnumerable<FlightProject.Models.AirlineAve>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarrierCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDelay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(model => item.CarrierCode)
    </td>
    <td>
        @Html.DisplayFor(model => item.ArrivalDelay)
    </td>
    <td>
        @Html.DisplayFor(model => item.Month)
    <td>
    <td>
        @Html.DisplayFor(model => item.Year)
    </td>

</tr>}
    </tbody>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: "application/json",
            url: '/AirlineAves/findall',
            success: function (result) {
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(function () {
                    drawChart(result);
                });
            }
        });
        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Quantity');
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.name, obj.quantity]);
            });
            data.addRows(dataArray);
            var piechart_options = {
                title: 'Pie Chart: How Much Products Sold By Last Night',
                width: 400,
                height: 300
            };
            var piechart = new google.visualization.PieChart(document
                .getElementById('piechart_div'));
            piechart.draw(data, piechart_options);
            var barchart_options = {
                title: 'Barchart: How Much Products Sold By Last Night',
                width: 400,
                height: 300,
                legend: 'none'
            };
            var barchart = new google.visualization.BarChart(document
                .getElementById('barchart_div'));
            barchart.draw(data, barchart_options);
        }
    });
</script>

<body>

    <h3>Google Chart in ASP.NET Core MVC</h3>
    <table class="columns">
        <tr>
            <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>

</body>
