@model FlightProject.Models.Flight2002

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight2002</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayofWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayofWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrsDepartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrsDepartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrsArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrsArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TailNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TailNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualElapsedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualElapsedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrsElaspedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrsElaspedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxiIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxiIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxiOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxiOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancellationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diverted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diverted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityDelay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateAircraftDelay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateAircraftDelay)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
